<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CharityPath" value="..\..\..\..\..\GovHackData\20150617_DataDotGov.csv" />
    <add key="CharityMetadataPath" value="..\..\..\..\..\GovHackData\20150617_DataDotGov_AIS13.csv" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.97.0" newVersion="1.0.97.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>