@inherits ViewPage
@{
    ViewBag.Title = "Find A Charity";
}

<div id="container">
    <form><input type="text" id="search" class="ui-widget" /></form>
</div>


<script>
    $("#search").autocomplete({
        minLength: 2,
        source: function (req, res) {
            $.getJSON('/find', { Charity_NameContains: req.term }, function (data) {
                var list = [];
                $.each(data.Results, function (k, v) {
                    list.push({ "value": v.ABN, "label": v.Charity_Name });
                });
                res(list);
            });
        },
        select: function (event, ui) {
            $(this).val(ui.item.label);
            window.location = '/charity/' + ui.item.value;
            event.preventDefault();
        }
    });
</script>



