@inherits ViewPage
@{
    ViewBag.Title = "Find A Charity";
}

<div id="container">
    <form><input type="text" id="search" class="ui-widget" /></form>
</div>


<script>
    $("#search").autocomplete({
        source: function (req, res) {
            $.getJSON('/find', { Charity_legal_nameContains: req.term }, function (data) {
                var list = [];
                $.each(data.Results, function (k, v) {
                    list.push({ "value": v.ABN, "label": v.Charity_Legal_Name });
                    if (v.Other_Organisation_Names !== undefined) {
                        var aliases = v.Other_Organisation_Names.split(',');
                        for (var i = 0; i < aliases.length; i++) {
                            list.push({ "value": v.ABN, "label": aliases[i] });
                        }
                    }
                });
                res(list);
            });
        },
        select: function (event, ui) {
            $(this).val(ui.item.label);
            window.location = '/charity/' + ui.item.value;
            event.preventDefault();
        }
    });
</script>



